@namespace Masa.Stack.Components.Layouts
@using Masa.Stack.Components.Extensions
@inherits MasaComponentBase
@inject GlobalConfig GlobalConfig

<MNavigationDrawer
    App
    Class="navigation"
    Permanent
    MiniVariantWidth="96"
    Width="300"
    MiniVariant="GlobalConfig.Mini">

    <div style="height:96px;margin-left:28px"
         class="d-flex align-center">
        @if (GlobalConfig.Mini)
        {
            <img height="40" width="40" src="@MiniLogo" alt="mini_log"
                 style="cursor: pointer" @onclick="NavigateToIndex" />
        }
        else
        {
            <img width="200" src="@Logo" alt="logo"
                 style="cursor: pointer" @onclick="NavigateToIndex" />
        }
    </div>

    <MList Nav Linkage Class="pa-6 subtitle2">
        @foreach (var nav in Items!)
        {
            if (!nav.HasChildren)
            {
                <STooltip Disabled="!GlobalConfig.Mini">
                    <ActivatorContent Context="tooltipContext">
                        <SListItem Medium Class="mb-2 rounded-2" ActiveClass="primary" Href="@nav.Url" @attributes="@tooltipContext.Attrs" Exact>
                            <ItemContent>
                                <MListItemIcon>
                                    <MIcon Dense Style="margin-left:6px" Color="@(context.Active ? "white" : "regular3--text")">@nav.Icon</MIcon>
                                </MListItemIcon>
                                <MListItemContent>
                                    <div class="ml-1 text-truncate @(context.Active ? "white--text" : "regular2--text")">
                                        @T(nav.Name)
                                    </div>
                                </MListItemContent>
                            </ItemContent>
                        </SListItem>
                    </ActivatorContent>
                    <ChildContent>
                        @T(nav.Name)
                    </ChildContent>
                </STooltip>
            }
            else
            {
                <MMenu Disabled="!GlobalConfig.Mini" OffsetY OpenOnHover CloseOnContentClick="false"
                       ContentClass="white pa-2 subtitle2"
                       MinWidth="250">
                    <ActivatorContent Context="menuContext">
                        <MListGroup Group="@GenGroup(nav.Children)"
                                    NoAction
                                    ActiveClass="primary--text"
                                    AppendIcon="mdi-menu-down"                                    
                                    @attributes="@menuContext.Attrs">
                            <ActivatorContent>
                                <MListItemContent>
                                    <div class="ml-1 text-truncate regular2--text">@T(nav.Name)</div>
                                </MListItemContent>
                            </ActivatorContent>
                            <PrependIconContent>
                                <MIcon Dense Style="margin-left: 6px">@nav.Icon</MIcon>
                            </PrependIconContent>
                            <ChildContent>
                                <NavItems Data="@nav" Class="@(GlobalConfig.Mini ? "" : "ml-6")"></NavItems>
                            </ChildContent>
                        </MListGroup>
                    </ActivatorContent>
                    <ChildContent>
                        <MList Nav Linkage>
                            <NavItems Data="@nav" Class="@(GlobalConfig.Mini ? "" : "ml-6")"></NavItems>
                        </MList>
                    </ChildContent>
                </MMenu>
            }
        }
    </MList>

    <STooltip>
        <ActivatorContent>
            <span style="position: absolute; bottom: 24px; left: 50%; transform: translate(-50%, 0)" @attributes="@context.Attrs">
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 15C0 6.72 6.72 0 15 0C23.28 0 30 6.72 30 15C30 23.28 23.28 30 15 30C6.72 30 0 23.28 0 15ZM15 24C19.965 24 24 19.965 24 15C24 10.035 19.965 6 15 6C10.035 6 6 10.035 6 15C6 19.965 10.035 24 15 24Z"
                          fill="#4318FF" />
                </svg>
            </span>
        </ActivatorContent>
        <ChildContent>
            @Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT")
        </ChildContent>
    </STooltip>
</MNavigationDrawer>

<SButton 
    Icon
    Medium
    Class="nav-trigger white"
    Style="@($"{(GlobalConfig.Mini ? "left:76px;" : "left:280px;")}")"
    OnClick="() => GlobalConfig.Mini = !GlobalConfig.Mini">
    <MIcon Color="primary">
        @(GlobalConfig.Mini ? "mdi-chevron-right" : "mdi-chevron-left")
    </MIcon>
</SButton>

@code {

    [Parameter]
    public string? DefaultRoute { get; set; }

    [EditorRequired]
    [Parameter]
    public List<Nav>? Items { get; set; }

    [EditorRequired]
    [Parameter]
    public string? Logo { get; set; }

    [EditorRequired]
    [Parameter]
    public string? MiniLogo { get; set; }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        Items ??= new List<Nav>();
    }

    private List<string> GenGroup(List<Nav> navs)
    {
        if (!navs.Any())
        {
            return new List<string>();
        }

        List<string> groups = new();

        foreach (var menu in navs)
        {
            groups.AddRange(GenGroup(menu.Children));

            if (string.IsNullOrEmpty(menu.Url)) continue;

            groups.Add(menu.Url);
        }

        return groups;
    }

    private void NavigateToIndex()
    {
        NavigationManager.NavigateTo(Items!.GetDefaultRoute());
    }
}
