@namespace Masa.Stack.Components.Layouts
@inherits MasaComponentBase
@inject IAuthClient AuthClient

<MMenu OffsetY OpenOnHover NudgeTop="-8"
       ContentClass="px-4 py-2">
    <ActivatorContent>
        <MAvatar @attributes="@context.Attrs" Size=40>
            <MImage Src="@avatar"></MImage>
        </MAvatar>
    </ActivatorContent>
    <ChildContent>
        <MList>
            <SListItem Medium Href="/user-center">
                <MListItemIcon Class="mr-4">
                    <SIcon Color="emphasis2">mdi-account-circle</SIcon>
                </MListItemIcon>
                <MListItemContent>
                    <MListItemTitle>
                        <span class="regular--text body">@T("UserInfo")</span>
                    </MListItemTitle>
                </MListItemContent>
            </SListItem>
            <SListItem Medium OnClick="() => _updatePasswordModal.Open()">
                <MListItemIcon Class="mr-4">
                    <SIcon Color="emphasis2">mdi-pencil</SIcon>
                </MListItemIcon>
                <MListItemContent>
                    <MListItemTitle>
                        <span class="regular--text body">@T("UpdatePassword")</span>
                    </MListItemTitle>
                </MListItemContent>
            </SListItem>
            <MDivider></MDivider>
            <SListItem Medium OnClick="HandleSignOut">
                <MListItemIcon Class="mr-4">
                    <SIcon Color="emphasis2">mdi-logout</SIcon>
                </MListItemIcon>
                <MListItemContent>
                    <MListItemTitle>
                        <span class="regular--text body">@T("Logout")</span>
                    </MListItemTitle>
                </MListItemContent>
            </SListItem>

        </MList>
    </ChildContent>
</MMenu>

<UpdatePasswordModal @ref="_updatePasswordModal"></UpdatePasswordModal>

@code {

    [CascadingParameter]
    public SLayout Layout { get; set; } = null!;

    private UpdatePasswordModal _updatePasswordModal = null!;
    private string avatar = "https://cdn.masastack.com/stack/images/avatar/mr.gu.svg";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var user = await AuthClient.UserService.GetCurrentUserAsync();
            if (!string.IsNullOrWhiteSpace(user.Avatar))
            {
                avatar = user.Avatar;
                StateHasChanged();
            }
        }
        await base.OnAfterRenderAsync(firstRender);
    }

    private void HandleSignOut()
    {
        if (Layout.OnSignOut!=null && Layout.OnSignOut.Invoke())
        {
            return;
        }
        Layout.NavigationManager.NavigateTo("/Account/Logout", true);
    }
}
