@using Masa.Stack.Components.Layouts
@namespace Masa.Stack.Components
@inject GlobalConfig GlobalConfig

<MApp Class="masa masa-stack-components">
    <MAppBar App
             Class="@AppBarClass"
             Elevation="0"
             Height="96">
        <GlobalNavigation>
            <ActivatorContent>
                <MButton Icon Class="white mr-6 default-text-emphasis-secondary" @attributes="@context.Attrs">
                    <MIcon>mdi-view-dashboard</MIcon>
                </MButton>
            </ActivatorContent>
        </GlobalNavigation>
        <SearchMenu />
        <MSpacer />
        <Favorites FlattenedNavs="FlattenedNavs" />
        <Languages />
        <Settings />
        <MDivider Vertical Height="48" />
        <MSheet class="d-flex align-center justify-space-between rounded-6 pa-1 ml-6 mr-n3" Width="100">
            <Notification />
            <User />
        </MSheet>
    </MAppBar>

    <Navigation Items="Navs"
                Logo="@Logo"
                MiniLogo="@MiniLogo" />

    <MMain>
        @if (GlobalConfig.PageMode == PageModes.PageTabs)
        {
            <PageTabs Items="@PageTabItems">
                @ChildContent
            </PageTabs>
        }
        else
        {
            <div class="px-6 max-width">
                <Breadcrumbs FlattenedNavs="FlattenedNavs" />
                @ChildContent
            </div>
        }
    </MMain>
</MApp>
