@using FluentValidation
@using Masa.BuildingBlocks.BasicAbility.Auth.Contracts.Model
@namespace Masa.Stack.Components.Layouts
@inherits MasaComponentBase

<SSimpleDialog @bind-Value="_visible"
         Title="@T("UpdatePassword")"
         IconOfTitle="mdi-key-variant"
         OnCancel="HandleOnCancel"
         OnOk="HandleOnOk">
    <MForm Model="Model" EnableValidation @ref="_form">
        <STextField @bind-Value="Model.OldPassword"
                          Type="password"
                          Label="@T("OldPassword")"
                          HideDetails="false">
        </STextField>
        <STextField @bind-Value="Model.NewPassword"
                          Type="password"
                          Label="@T("NewPassword")"
                          HideDetails="false">
        </STextField>
        <STextField @bind-Value="Model.ConfirmNewPassword"
                          Type="password"
                          Label="@T("ConfirmNewPassword")"
                          Placeholder="@T("PlaceholderForConfirmNewPassword")"
                          HideDetails="false">
        </STextField>
    </MForm>
    <a class="primary--text caption float-right"
       @onclick="() => _forgetPasswordModal.Open()">
        @T("ForgetPassword")
    </a>
</SSimpleDialog>

<ForgetPasswordModal @ref="_forgetPasswordModal" />

@code {

    private bool _visible;
    private MForm _form = null!;
    private ForgetPasswordModal? _forgetPasswordModal;

    private UpdatePasswordModel Model { get; set; } = new();

    internal void Open()
    {
        _visible = true;
        StateHasChanged();
    }

    private async Task HandleOnCancel()
    {
        await _form.ResetAsync();
        _visible = false;
    }

    private async Task HandleOnOk()
    {
        var success = await _form.ValidateAsync();
        if (success)
        {
            await AuthClient.UserService.UpdatePasswordAsync(new UpdateUserPasswordModel
            {
                NewPassword = Model.NewPassword,
                OldPassword = Model.OldPassword
            });
            await PopupService.AlertAsync(@T("Update password success"),AlertTypes.Success);
            _visible = false;
        }
    }

    class UpdatePasswordModel
    {
        public string OldPassword { get; set; } = string.Empty;

        public string NewPassword { get; set; } = string.Empty;

        public string ConfirmNewPassword { get; set; } = string.Empty;
    }

    class UpdatePasswordModelValidator : AbstractValidator<UpdatePasswordModel>
    {
        public UpdatePasswordModelValidator(I18n i18N)
        {
            RuleFor(m => m.OldPassword)
                .NotEmpty()
                .Matches(@"^\S*(?=\S{8,})(?=\S*\d)(?=\S*[A-Za-z])\S*$")
                .WithMessage(i18N.T("PasswordFormatVerificationPrompt"))
                .WithName(i18N.T("OldPassword"));
            RuleFor(m => m.NewPassword)
                .NotEmpty()
                .Matches(@"^\S*(?=\S{7,})(?=\S*\d)(?=\S*[A-Za-z])\S*$")
                .WithMessage(i18N.T("PasswordFormatVerificationPrompt"))
                .WithName(i18N.T("NewPassword"));

            RuleFor(m => m.ConfirmNewPassword)
                .NotEmpty()
                .Equal(u => u.NewPassword).WithMessage(i18N.T("FailToConfirmNewPassword"))
                .WithName(i18N.T("ConfirmNewPassword"));
            RuleFor(m => m.NewPassword)
                .NotEqual(u => u.OldPassword).WithMessage(i18N.T("EqualOldAndNewPassword"))
                .WithName(i18N.T("NewPassword"));
        }
    }

}
