@namespace Masa.Stack.Components.GlobalNavigations

<div class="category" id="@Category.TagId()" @attributes="@Attributes">
    <div class="category__header">
        @Category.Name
        @if (Checkable)
        {
            <MSimpleCheckbox Color="white"
                             Value="@CategoryChecked"
                             ValueChanged="@CategoryCheckedValueChanged"
                             Ripple="false"
                             Class="mr-n2">
            </MSimpleCheckbox>
        }
    </div>
    <MExpansionPanels Accordion
                      Flat
                      Multiple
                      Class="apps"
                      Style="@Category.TagStyle"
                      @bind-Values="@Category.BindValues">
        @foreach (var app in Category.Apps)
        {
            @ChildContent?.Invoke(app)
        }
    </MExpansionPanels>
</div>