@namespace Masa.Stack.Components.GlobalNavigations

<MExpansionPanel Class="app"
                 Id="@App.TagId(CategoryCode)"
                 Value="@App.Code"
                 Readonly="InPreview">
    <MExpansionPanelHeader Class="masa-text-highlight-1 mb-0">
        @if (Checkable)
        {
            if ((AppChecked && InPreview) || !InPreview)
            {
                <MSimpleCheckbox
                    Color="primary"
                    Ripple="false"
                    Value="@AppChecked"
                    ValueChanged="@AppCheckedChanged"
                    Class="masa-icon-size-20"
                    Style="flex: none;margin-right: -4px;"
                    Readonly="InPreview">
                </MSimpleCheckbox>
            }
        }
        <span style="flex:none">
            @App.Name
        </span>
        @if (!context && App.RoutableNavsCount > 0)
        {
            <span class="masa-text-3-1 ml-1">@App.RoutableNavsCount</span>
        }
    </MExpansionPanelHeader>
    <MExpansionPanelContent Class="mt-4">
        @foreach (var nav in App.Navs.Where(nav => !IsInPreview(nav)))
        {
            <MCard @key="nav" Class="nav" Outlined>
                <MList Dense Class="pa-0">
                    <MListItemGroup Values="_values" ValuesChanged="ValuesChanged" Multiple>
                        <ExpansionAppItem Data="nav"
                                          Level="1"
                                          Checkable="Checkable"
                                          InPreview="InPreview"
                                          ToggleFavorite="() => ToggleFavorite(CategoryCode, App.Code, nav)">
                        </ExpansionAppItem>

                        @if (nav.HasChildren)
                        {
                            foreach (var subNav in nav.Children.Where(subNav => !IsInPreview(subNav)))
                            {
                                <ExpansionAppItem Data="@subNav"
                                                  Checkable="@Checkable"
                                                  InPreview="InPreview"
                                                  Level="2"
                                                  ToggleFavorite="@(() => ToggleFavorite(CategoryCode, App.Code, subNav))">
                                </ExpansionAppItem>

                                if (Checkable && subNav.HasActions)
                                {
                                    foreach (var action in subNav.Actions!.Where(action => !IsInPreview(action)))
                                    {
                                        <ExpansionAppItem Data="@action"
                                                          Checkable="@Checkable"
                                                          InPreview="InPreview"
                                                          Level="3">
                                        </ExpansionAppItem>
                                    }
                                }
                            }
                        }
                        else if (Checkable && nav.HasActions)
                        {
                            foreach (var action in nav.Actions!.Where(action => !IsInPreview(action)))
                            {
                                <ExpansionAppItem Data="@action"
                                                  Checkable="@Checkable"
                                                  InPreview="InPreview"
                                                  Level="3">
                                </ExpansionAppItem>
                            }
                        }
                    </MListItemGroup>
                </MList>
            </MCard>
        }
    </MExpansionPanelContent>
</MExpansionPanel>
