@namespace Masa.Stack.Components.GlobalNavigations

<div class="global-nav-content__main">
    @foreach (var category in Categories!)
    {
        category.BindValues ??= CategoryCodes.TryGetValue(category.Code, out var values)
            ? values
            : new List<StringNumber>();

        <CascadingValue Value="this">
            <ExpansionCategory Category="category"
                               Checkable="@Checkable"
                               InPreview="InPreview"
                               Context="app">
                <ExpansionApp App="app"
                              CategoryCode="@category.Code"
                              Checkable="@Checkable"
                              InPreview="InPreview"
                              FavoriteNavs="@FavoriteNavs" />
            </ExpansionCategory>
        </CascadingValue>
    }
</div>

<div class="global-nav-content__side">
    <MNavigationDrawer Floating Right Width="256" Class="toc">
        <ul>
            @for (var i = 0; i < Categories.Count; i++)
            {
                var category = Categories[i];

                <li class="masa-text-2-2 pl-3 py-2"
                    @onclick="@(() => ScrollTo(category.TagId(), ".global-nav-content__main"))">
                    @if (i == _activeCategoryIndex)
                    {
                        <MIcon Color="primary" Class="dot" Size="20">mdi-checkbox-blank-circle</MIcon>
                    }
                    <span>
                        @category.Name
                    </span>
                </li>
            }
        </ul>
    </MNavigationDrawer>
</div>