@namespace Masa.Stack.Components.GlobalNavigations

<MExpansionPanel Class="app"
                 Id="@App.TagId(CategoryCode, ExpansionWrapper?.TagIdPrefix)"
                 Value="@App.Code"
                 Readonly="InPreview">
    <MExpansionPanelHeader Class="masa-text-highlight-1 mb-0">
        @if (Checkable)
        {
            if ((AppChecked && InPreview) || !InPreview)
            {
                <MSimpleCheckbox
                    Color="primary"
                    Ripple="false"
                    Value="@AppChecked"
                    ValueChanged="@AppCheckedChanged"
                    Class="masa-icon-size-20"
                    Style="flex: none;margin-right: -4px;"
                    Readonly="InPreview">
                </MSimpleCheckbox>
            }
        }
        <span style="flex:none">
            @App.Name
        </span>
        @if (!context && App.RoutableNavsCount > 0)
        {
            <span class="masa-text-3-1 ml-1">@App.RoutableNavsCount</span>
        }
    </MExpansionPanelHeader>
    <MExpansionPanelContent Class="mt-4">
        @foreach (var nav in App.Navs.Where(nav => Filter(nav)))
        {
            <MCard @key="nav" Class="nav" Outlined>
                <MList Dense Class="pa-0">
                    <MListItemGroup Values="_values" Multiple>
                        <CascadingValue Value="this">
                            <ExpansionAppItem Data="nav"                                          
                                          Level="1"
                                          Checkable="Checkable"
                                          InPreview="InPreview"
                                          ToggleFavorite="() => ToggleFavorite(CategoryCode, App.Code, nav)">
                            </ExpansionAppItem>
                            @if (nav.HasChildren)
                            {
                                foreach (var subNav in nav.Children.Where(subNav => Filter(subNav)))
                                {
                                    <ExpansionAppItem Data="@subNav"                                                      
                                                      Checkable="@Checkable"
                                                      InPreview="InPreview"
                                                      Level="2"
                                                      ToggleFavorite="@(() => ToggleFavorite(CategoryCode, App.Code, subNav))">
                                    </ExpansionAppItem>

                                    if (subNav.HasActions)@*Checkable && *@
                                    {
                                        @foreach (var action in subNav.Actions!.Where(action => Filter(action)))
                                        {
                                            <ExpansionAppItem Data="@action"
                                                                NavCode="@subNav.Code"
                                                                Checkable="@Checkable"
                                                                InPreview="InPreview"
                                                                Level="3">
                                            </ExpansionAppItem>
                                        }
                                    }
                                }
                            }
                            else if (nav.HasActions)@*Checkable && *@
                            {
                                @foreach (var action in nav.Actions!.Where(action => Filter(action)))
                                {
                                    <ExpansionAppItem Data="@action"                                                       
                                                        NavCode="@nav.Code"
                                                        Checkable="@Checkable"
                                                        InPreview="InPreview"
                                                        Level="3">
                                    </ExpansionAppItem>
                                }
                            }
                        </CascadingValue>
                    </MListItemGroup>
                </MList>
            </MCard>
        }
    </MExpansionPanelContent>
</MExpansionPanel>
