@page "/defaultDataTableExample"

<MCard>
    <MCardText>
        <DefaultDataTable Headers="Headers" Items="Users" TItem="User">
            <HeaderColContent Context="header">
                <span class="font-14-medium">@header.Text</span>
            </HeaderColContent>
            <ItemColContent>
                @switch (context.Header.Value)
                {
                    case (nameof(User.Name)):
                        <span class="text-body3">@context.Item.Name</span>
                        break;
                    case nameof(User.DisplayName):
                        <span class="text-body3">@context.Item.DisplayName</span>
                        break;
                    case (nameof(User.Age)):
                        <span class="text-body3">@context.Item.Age</span>
                        break;
                    case "Action":
                        <MIcon Small Color="regular">mdi-pencil</MIcon>
                        <MIcon Small Color="regular" Class="ml-7">mdi-shield-half-full</MIcon>
                        break;
                    default:
                        <span class="text-body3">@context.Value</span>
                        break;
                }
            </ItemColContent>
        </DefaultDataTable>
    </MCardText>
</MCard>

@code {
    List<DataTableHeader<User>> Headers { get; set; } = new()
    {
        new() { Text = "Name", Value = "Name", Sortable = false },
        new() { Text = "DisplayName", Value = "DisplayName", Sortable = false },
        new() { Text = "Age", Value = "Age", Sortable = false },
        new() { Text ="Action", Value = "Action", Sortable = false },
    };

    List<User> Users { get; set; } = new()
    {
        new()
        {
            Name="张三",
            DisplayName="张三呀",
            Age=28
        },
        new()
        {
            Name="李四",
            DisplayName="李四呀",
            Age=28
        },
        new()
        {
            Name="王五",
            DisplayName="王五呀",
            Age=28
        },
    };

    public class User
    {
        public string Name { get; set; }

        public string DisplayName { get; set; }

        public int Age { get; set; }
    }
}