@page "/tab"

<div class="white pa-5">
    <h3>LabeledRadioGroup's value: @value</h3>

    <LabeledRadioGroup @bind-Value="value" Dense Class="mb-2">
        @foreach(var v in new[]{"menu","api","action"})
        {
            <LabeledRadio Value="v">@v</LabeledRadio>
        }
    </LabeledRadioGroup>
    
    <ElevationTab TabMinWidth="200" ItemsClass="mt-4" Tabs='new List<string> { "Menu Permission", "Api Permission" }' Dense>
        <ElevationTabItem>
            Menu Permission
        </ElevationTabItem>
        <ElevationTabItem>
            Api Permission
        </ElevationTabItem>
    </ElevationTab>

    <MButton OnClick="@(async () => await Set("menu"))">
        切换
    </MButton>

     <MButton OnClick="@(async () => await Set("api"))">
        切换
    </MButton>

    <MButton OnClick="@(async () => await Set("action"))">
        切换
    </MButton>


</div>

@code {

    string value ="menu";

    private async Task Set(string str) {
        value = str;
        await Task.CompletedTask;
    }
}
