@namespace Masa.Stack.Components.Layouts
@inherits MasaComponentBase
@inject IAuthClient AuthClient

<MMenu OffsetY OpenOnHover NudgeTop="-8"
       ContentClass="px-4 py-2">
    <ActivatorContent>
        <MAvatar @attributes="@context.Attrs" Size=40>
            <MImage Src="@avatar"></MImage>
        </MAvatar>
    </ActivatorContent>
    <ChildContent>
        <MList>
            <DefaultListItem Medium Href="@UserCenterUrl">
                <MListItemIcon Class="mr-4">
                    <DefaultIcon Color="emphasis2">mdi-account-circle</DefaultIcon>
                </MListItemIcon>
                <MListItemContent>
                    <MListItemTitle>
                        <span class="regular--text body">@T("UserInfo")</span>
                    </MListItemTitle>
                </MListItemContent>
            </DefaultListItem>
            <DefaultListItem Medium OnClick="() => _updatePasswordModal.Open()">
                <MListItemIcon Class="mr-4">
                    <DefaultIcon Color="emphasis2">mdi-pencil</DefaultIcon>
                </MListItemIcon>
                <MListItemContent>
                    <MListItemTitle>
                        <span class="regular--text body">@T("UpdatePassword")</span>
                    </MListItemTitle>
                </MListItemContent>
            </DefaultListItem>
            <MDivider></MDivider>
            <DefaultListItem Medium OnClick="() => _logoutModal.Open()">
                <MListItemIcon Class="mr-4">
                    <DefaultIcon Color="emphasis2">mdi-logout</DefaultIcon>
                </MListItemIcon>
                <MListItemContent>
                    <MListItemTitle>
                        <span class="regular--text body">@T("Logout")</span>
                    </MListItemTitle>
                </MListItemContent>
            </DefaultListItem>

        </MList>
    </ChildContent>
</MMenu>

<LogoutModal @ref="_logoutModal"></LogoutModal>

<UpdatePasswordModal @ref="_updatePasswordModal"></UpdatePasswordModal>

@code {
    [Parameter]
    public string? UserCenterUrl { get; set; }

    private LogoutModal _logoutModal = null!;
    private UpdatePasswordModal _updatePasswordModal = null!;
    private string avatar = "./_content/Masa.Stack.Components/img/avatar/default.svg";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var user = await AuthClient.UserService.GetCurrentUserAsync();
            if (!string.IsNullOrWhiteSpace(user.Avatar))
            {
                avatar = user.Avatar;
                StateHasChanged();
            }
        }
        await base.OnAfterRenderAsync(firstRender);
    }
}
