@namespace Masa.Stack.Components.Layouts
@inherits MasaComponentBase

<MMenu OffsetY>
    <ActivatorContent>
        <MAvatar @attributes="@context.Attrs" Size=40>
            <MImage Src="/img/avatar/2.svg"></MImage>
        </MAvatar>
    </ActivatorContent>
    <ChildContent>
        <MList>
            <DefaultListItem Medium Href="@UserCenterUrl">
                <MListItemIcon Class="mr-4">
                    <DefaultIcon Color="emphasis2">mdi-account-circle</DefaultIcon>
                </MListItemIcon>
                <MListItemContent>
                    <MListItemTitle>
                        <span class="regular--text body">@T("UserInfo")</span>
                    </MListItemTitle>
                </MListItemContent>
            </MListItem>
            <MListItem>
                <MListItemIcon Class="mr-4">
                    <MIcon Size=20 Color="default-lighten-4">fas fa-sign-in-alt</MIcon>
                </MListItemIcon>
                <MListItemContent>
                    <MListItemTitle>
                        <span class="default-lighten-4--text">@T("UpdatePassword")</span>
                    </MListItemTitle>
                </MListItemContent>
            </MListItem>
            <MListItem>
                <MListItemIcon Class="mr-4">
                    <MIcon Size=20 Color="default-lighten-4">fas fa-sign-in-alt</MIcon>
                </MListItemIcon>
                <MListItemContent>
                    <MListItemTitle>
                        <span class="default-lighten-4--text">@T("Logout")</span>
                    </MListItemTitle>
                </MListItemContent>
            </MListItem>
        </MList>
    </ChildContent>
</MMenu>
