@namespace Masa.Stack.Components.GlobalNavigation

<MExpansionPanel Class="app"
                 Id="@App.TagId(CategoryCode)"
                 Value="@App.Code">
    <MExpansionPanelHeader Class="masa-text-highlight-1" Ripple="false">
        @if (Checkable)
        {
            <MSimpleCheckbox
                Color="primary"
                Ripple="false"
                Value="@AppChecked"
                ValueChanged="@AppCheckedChanged"
                Class="masa-icon-size-20"
                Style="flex: none;margin-right: -4px;">
            </MSimpleCheckbox>
        }
        <span style="flex:none">
            @App.Name
        </span>
        @if (!context && App.RoutableNavsCount > 0)
        {
            <span class="masa-text-3-1 ml-1">@App.RoutableNavsCount</span>
        }
    </MExpansionPanelHeader>
    <MExpansionPanelContent>
        @foreach (var nav in App.Navs)
        {
            <MCard @key="nav" Class="nav" Outlined>
                <MList Dense Class="pa-0">
                    <MListItemGroup Values="_values" ValuesChanged="ValuesChanged" Multiple>
                        <MHover Disabled="@nav.HasChildren">
                            <MListItem @attributes="@context.Attrs"
                                       Class="@($"masa-text-1-2 nav-item clear-before-opacity {(context.Hover ? "masa-text masa-fill-clicked" : "")}")"
                                       OnClick="() => NavigateTo(nav.Url)"
                                       Value="@nav.Code"
                                       Disabled="@nav.HasChildren"
                                       ActiveClass="masa-text">
                                <ItemContent Context="item">
                                    <MListItemContent>
                                        <MListItemTitle Style="font-weight: inherit">@nav.Name</MListItemTitle>
                                    </MListItemContent>

                                    @if (context.Hover)
                                    {
                                        <MListItemAction Class="ma-0">
                                            @if (Checkable)
                                            {
                                                <MCheckbox Dense IsActive="@item.Active"></MCheckbox>
                                            }
                                            else
                                            {
                                                <AutoLoadingButton
                                                    Icon
                                                    Small
                                                    Color="@(nav.IsFavorite ? "#FFB547" : "")"
                                                    OnClick="@(() => ToggleFavorite(CategoryCode, App.Code, nav))"
                                                    StopPropagation>
                                                    <MIcon>mdi-star</MIcon>
                                                </AutoLoadingButton>
                                            }
                                        </MListItemAction>
                                    }
                                </ItemContent>
                            </MListItem>
                            @if (nav.HasChildren)
                            {
                                <MDivider></MDivider>
                            }
                        </MHover>
                        @if (nav.Children is not null)
                        {
                            @foreach (var subNav in nav.Children)
                            {
                                <MHover Disabled="@subNav.HasChildren">
                                    <MListItem @attributes="context.Attrs"
                                               Class="@($"masa-text-3-1 sub-nav-item clear-before-opacity {(context.Hover ? "masa-text-1-1 masa-fill-clicked" : "")}")"
                                               OnClick="() => NavigateTo(subNav.Url)"
                                               Value="@subNav.Code"
                                               ActiveClass="masa-text-1-1">
                                        <ItemContent Context="item">
                                            <MListItemContent>
                                                <MListItemTitle Style="font-weight: inherit">@subNav.Name</MListItemTitle>
                                            </MListItemContent>

                                            @if (context.Hover)
                                            {
                                                <MListItemAction Class="ma-0">
                                                    @if (Checkable)
                                                    {
                                                        <MCheckbox Dense IsActive="@item.Active"></MCheckbox>
                                                    }
                                                    else
                                                    {
                                                        <AutoLoadingButton
                                                            Color="@(subNav.IsFavorite ? "#FFB547" : "")"
                                                            Icon
                                                            Small
                                                            OnClick="@(() => ToggleFavorite(CategoryCode, App.Code, subNav))"
                                                            StopPropagation>
                                                            <MIcon>mdi-star</MIcon>
                                                        </AutoLoadingButton>
                                                    }
                                                </MListItemAction>
                                            }
                                        </ItemContent>
                                    </MListItem>
                                </MHover>
                            }
                        }
                    </MListItemGroup>

                </MList>
            </MCard>
        }
    </MExpansionPanelContent>
</MExpansionPanel>