@namespace Masa.Stack.Components

<CascadingValue Value="this">
    @ChildContent
    <div Class="@($"d-flex flex-column {AlignItems} {Class}")" Style="@Style">
        <LabeledRadioGroup Dense="Dense"
                           Class="@TabsClass"
                           Style="@($"width: fit-content {TabsStyle}")"
                           TValue="StringNumber"
                           Value="TabIndex"
                           ValueChanged="TabChanged">
            @for (var i = 0; i < Tabs!.Count; i++)
            {
                var header = Tabs[i];
                <LabeledRadio Value="@((StringNumber)i)" MinWidth="@TabMinWidth">@header</LabeledRadio>
            }
        </LabeledRadioGroup>

        <MWindow @bind-Value="TabIndex"
                 Class="@($"full-width mx-1 {ItemsClass}")"
                 Style="@ItemsStyle">
            @for (var i = 0; i < _elevationTabItems.Count; i++)
            {
                var item = _elevationTabItems[i];
                <MWindowItem Value="@i" Class="full-height">
                    @item.ChildContent
                </MWindowItem>
            }
        </MWindow>
    </div>
</CascadingValue>

@code {

    [Parameter]
    public string? Class { get; set; }

    [Parameter]
    public string? ItemsClass { get; set; }

    [Parameter]
    public string? ItemsStyle { get; set; }

    [Parameter]
    public bool Left { get; set; }

    [Parameter]
    public bool Right { get; set; }

    [Parameter]
    public string? TabsClass { get; set; }

    [Parameter]
    public string? TabsStyle { get; set; }

    [Parameter]
    public string? Style { get; set; }

    [EditorRequired]
    [Parameter]
    public List<string>? Tabs { get; set; }

    [Parameter]
    public bool Dense { get; set; }

    [Parameter]
    public StringNumber? TabMinWidth { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public StringNumber TabIndex { get; set; } = 0;

    [Parameter]
    public EventCallback<StringNumber> TabIndexChanged { get; set; }

    List<ElevationTabItem> _elevationTabItems = new();

    private string AlignItems
    {
        get
        {
            if (Left)
            {
                return "align-start";
            }

            if (Right)
            {
                return "align-end";
            }

            return "align-center";
        }
    }

    protected override void OnParametersSet()
    {
        Tabs ??= new List<string>();
    }

    public void AddTabItem(ElevationTabItem tabItem)
    {
        _elevationTabItems.Add(tabItem);
    }

    public void RemoveTabItem(ElevationTabItem tabItem)
    {
        _elevationTabItems.Remove(tabItem);
    }

    private async Task TabChanged(StringNumber v)
    {
        if (TabIndexChanged.HasDelegate)
        {
            await TabIndexChanged.InvokeAsync(v);
        }
        else
        {
            TabIndex = v;
        }
    }

}
