@namespace Masa.Stack.Components.GlobalNavigations
@inherits MasaComponentBase

@{
    var disableAppOper = Value.Metadata.Situation == MenuSituation.Preview || Value.Metadata.Situation == MenuSituation.Favorite;
}
<div class="app">@*  id="@App.TagID(CategoryCode, TagIDPrefix)"> *@
    <MHover Disabled="disableAppOper" Class="masa-text-highlight-1 mb-0 d-flex justify-space-between">
        <div @attributes="@context.Attrs" class="d-flex">
            <span class="masa-text-2-2 d-inline-block text-truncate">
                @TranslateProvider.DT(Value.Name)
            </span>
            @if (!disableAppOper)
            {
                <MSpacer />

                var indeterminate = Value.State == MenuState.Indeterminate;
                var appSelected = Value.State == MenuState.Selected;
                if (context.Hover is false && indeterminate)
                {
                    <MIcon Small Class="mr-1" Color="primary">mdi-minus-box</MIcon>
                }
                <div class="d-flex" style="@GetIsDisplayStyle(context.Hover)">
                    <span class="masa-text-3-1">@T("SelectAll")</span>
                    <MSimpleCheckbox Color="primary"
                                     Ripple="false"
                                     Value="@(indeterminate || appSelected)"
                                     ValueChanged="@AppCheckedChanged"
                                     Indeterminate=indeterminate
                                     Class="masa-icon-size-20"
                                     Style="flex: none;margin-right: -4px;" />
                </div>
            }
        </div>
    </MHover>
    <div Class="mt-4">
    @foreach (var nav in Value.Childrens)
    {
        <MCard @key="nav" Class="nav" Outlined>
            <MList Dense Class="pa-0">
                <MListItemGroup Multiple>
                    <NavWrapper Value="nav" />
                </MListItemGroup>
            </MList>
        </MCard>
    }
    </div>
</div>
