@namespace Masa.Stack.Components.GlobalNavigations
@inject DynamicTranslateProvider TranslateProvider

<CascadingValue Value="this" IsFixed>
    <div class="category" id="@Category.TagId(ExpansionWrapper?.TagIdPrefix)" @attributes="@Attributes">
    <div class="category__header">
            @TranslateProvider.DT(Category.Name)
        <MSpacer />
        @if (Checkable)
        {
            if ((CategoryChecked && InPreview) || !InPreview)
            {
                <MSimpleCheckbox Color="white"
                                 Value="@CategoryChecked"
                                 ValueChanged="@CategoryCheckedValueChanged"
                                 Ripple="false"
                                 Class="mr-n2"
                                 Readonly="InPreview">
                </MSimpleCheckbox>
            }
        }
    </div>
    <MExpansionPanels Accordion
                      Flat
                      Multiple
                      Class="apps"
                      Style="@Category.TagStyle"
                      @bind-Values="@Category.BindValues">
        @foreach (var app in Category.Apps)
        {
            @ChildContent?.Invoke(app)
        }
    </MExpansionPanels>
</div>
</CascadingValue>
