@namespace Masa.Stack.Components.GlobalNavigations
@inherits MasaComponentBase

<div class="app" id="@App.TagId(CategoryCode, ExpansionWrapper?.TagIdPrefix)">
    <MHover Disabled="Checkable is false" Class="masa-text-highlight-1 mb-0 d-flex justify-space-between">
        <div @attributes="@context.Attrs" class="d-flex">
            <span class="masa-text-2-2 d-inline-block text-truncate">
                @TranslateProvider.DT(App.Name) 
            </span>
            @if (Checkable)
            {
                <MSpacer />
                <div class="d-flex" style="@GetIsDisplayStyle(context.Hover)">
                    <span class="masa-text-3-1">@T("SelectAll")</span>
                    <MSimpleCheckbox Color="primary"
                                     Ripple="false"
                                     Value="@AppChecked"
                                     ValueChanged="@AppCheckedChanged"
                                     Class="masa-icon-size-20"
                                     Style="flex: none;margin-right: -4px;">
                    </MSimpleCheckbox>
                </div>
            }
        </div>
    </MHover>
    <div Class="mt-4">
        @foreach (var nav in App.Navs.Where(nav => nav.Filter(ExpansionWrapper!.Search)))
        {
            <MCard @key="nav" Class="nav" Outlined>
                <MList Dense Class="pa-0">
                    <MListItemGroup Multiple>
                        <CascadingValue Value="this" IsFixed>
                            <ExpansionAppItem Data="nav" Level="1" />
                            @if (nav.HasChildren)
                            {
                                var subNavs = nav.Children.Where(subNav => subNav.Filter(ExpansionWrapper!.Search));
                                @if (subNavs.Any())
                                {
                                    <div class="mx-4" style="border: 1px dashed #E4E8F3;"></div>
                                }
                                foreach (var subNav in subNavs)
                                {
                                    <ExpansionAppItem Data="@subNav" Level="2" />
                                    if (InPreview is false && subNav.HasActions)
                                    {
                                        @foreach (var action in subNav.Actions.Where(action => action.Filter(ExpansionWrapper!.Search)))
                                        {
                                            <ExpansionAppItem Data="@action" NavCode="@subNav.Code" Level="3" />
                                        }
                                    }
                                }
                            }
                            else if (InPreview is false && nav.HasActions)
                            {
                                <div class="mx-4" style="border: 1px dashed #E4E8F3;"></div>
                                @foreach (var action in nav.Actions.Where(action => action.Filter(ExpansionWrapper!.Search)))
                                {
                                    <ExpansionAppItem Data="@action" NavCode="@nav.Code" Level="3" />
                                }
                            }
                        </CascadingValue>
                    </MListItemGroup>
                </MList>
            </MCard>
        }
    </div>
</div>
