@namespace Masa.Stack.Components.GlobalNavigations
@inherits MasaComponentBase

<div class="app" id="@App.TagId(CategoryCode, ExpansionWrapper?.TagIdPrefix)">
    <MHover Disabled="Checkable is false" Class="masa-text-highlight-1 mb-0 d-flex justify-space-between">
        <div @attributes="@context.Attrs" class="d-flex">
            <span class="masa-text-2-2 d-inline-block text-truncate">
                @TranslateProvider.DT(App.Name)
            </span>
            @if (Checkable)
            {
                <MSpacer />

                var indeterminate = Indeterminate;
                if (context.Hover is false && indeterminate)
                {
                    <MIcon Small Class="mr-1" Color="primary">mdi-minus-box</MIcon>
                }
                <div class="d-flex" style="@GetIsDisplayStyle(context.Hover)">
                    <span class="masa-text-3-1">@T("SelectAll")</span>
                    <MSimpleCheckbox Color="primary"
                                     Ripple="false"
                                     Value="@(indeterminate || AppChecked)"
                                     ValueChanged="@AppCheckedChanged"
                                     Indeterminate=indeterminate
                                     Class="masa-icon-size-20"
                                     Style="flex: none;margin-right: -4px;" />
                </div>
            }
        </div>
    </MHover>
    <div Class="mt-4">
        @foreach (var nav in App.Navs.Where(Filter).Where(nav => nav.Filter(TranslateProvider, ExpansionWrapper!.Search)))
        {
            <MCard @key="nav" Class="nav" Outlined>
                <MList Dense Class="pa-0">
                    <MListItemGroup Multiple>
                        <CascadingValue Value="this" IsFixed>
                            <ExpansionAppItem Data="nav" Level="1" />
                            @if (nav.HasChildren)
                            {
                                var subNavs = nav.Children.Where(Filter).Where(subNav => subNav.Filter(TranslateProvider, ExpansionWrapper!.Search));
                                @if (subNavs.Any())
                                {
                                    <div class="mx-4" style="border: 1px dashed #E4E8F3;"></div>
                                }
                                foreach (var subNav in subNavs)
                                {
                                    <ExpansionAppItem Data="@subNav" Level="2" ParentCode="@nav.Code" />
                                    if (Checkable && subNav.HasActions)
                                    {
                                        <ExpansionAppItem Data="@subNav" Level="3" />
                                        @foreach (var action in subNav.Actions.Where(action => action.Filter(TranslateProvider, ExpansionWrapper!.Search)))
                                        {
                                            <ExpansionAppItem Data="@action" ParentCode="@subNav.Code" Level="3" />
                                        }
                                    }
                                }
                            }
                            else if (Checkable && nav.HasActions)
                            {
                                <div class="mx-4" style="border: 1px dashed #E4E8F3;"></div>
                                <ExpansionAppItem Data="@nav" Level="3" />
                                @foreach (var action in nav.Actions.Where(action => action.Filter(TranslateProvider, ExpansionWrapper!.Search)))
                                {
                                    <ExpansionAppItem Data="@action" ParentCode="@nav.Code" Level="3" />
                                }
                            }
                        </CascadingValue>
                    </MListItemGroup>
                </MList>
            </MCard>
        }
    </div>
</div>
