@namespace Masa.Stack.Components.GlobalNavigations
@inject DynamicTranslateProvider TranslateProvider

@{
    var _categories = Categories?.Where(c => !c.Hiden).ToList() ?? new List<Category>();
}

<div class="global-nav-content__main @Class" style="@Style">
    @foreach (var category in _categories!)
    {
        category.BindValues ??= CategoryCodes.TryGetValue(category.Code, out var values)
            ? values
            : new List<StringNumber>();

        <CascadingValue Value="this" IsFixed>
            <ExpansionCategory Category="category"
                               Checkable="Checkable"
                               CheckStrictly="CheckStrictly"
                               InPreview="InPreview"
                               Context="app">
                <ExpansionApp App="app"
                              CategoryCode="@category.Code"
                              CheckStrictly="CheckStrictly"
                              Checkable="Checkable"
                              InPreview="InPreview"
                              FavoriteNavs="@FavoriteNavs" />
            </ExpansionCategory>
        </CascadingValue>
    }
</div>

<div class="global-nav-content__side @SideClass" style="@SideStyle">
    <MNavigationDrawer Floating Right Width="256" Class="toc">
        <ul>
            @for (var i = 0; i < _categories.Count(); i++)
            {
                var category = _categories[i];

                <li class="masa-text-2-2 pl-3 py-2"
                    @onclick="@(() => ScrollTo(category.TagId(TagIdPrefix), ".global-nav-content__main"))">
                    @if (i == _activeCategoryIndex)
                    {
                        <MIcon Color="primary" Class="dot" Size="20">mdi-checkbox-blank-circle</MIcon>
                    }
                    <span>
                        @TranslateProvider.DT(category.Name)
                    </span>
                </li>
            }
        </ul>
    </MNavigationDrawer>
</div>