@namespace Masa.Stack.Components.GlobalNavigations
@inherits MasaComponentBase
@{
    @* var categorys = Categories.Where(Filter).Where(categorie => categorie.Filter(TranslateProvider, Search)); *@
}
@if (Value != null)
{
    <div class="global-nav-content__main " style="">
    @foreach (var category in Value.Childrens)
        {
            <div class="apps">
                <div class="category_title_app">
                    <div class="masa-text-1-2__title title_category py-4" id="">@category.Name</div>
                    @foreach (var app in category.Childrens)
                    {
                        <AppWrapper Value="app" />
                    }
                </div>
            </div>
        }
    </div>
}
@* <div class="global-nav-content__side @SideClass" style="@SideStyle">
<MNavigationDrawer Floating Right Width="256" Class="toc">
<ul>
@foreach (var category in categorys)
{
<li class="masa-text-2-2 pl-3 py-2 category_side" id="@($"{category.TagId(TagIdPrefix)}_side")"
@onclick="@(() => ScrollTo(category.TagId(TagIdPrefix), ".global-nav-content__main"))">
<MIcon Color="primary" Class="dot" Size="20">mdi-checkbox-blank-circle</MIcon>
<span>
@TranslateProvider.DT(category.Name)
</span>
</li>
}
</ul>
</MNavigationDrawer>
</div> *@