@namespace Masa.Stack.Components
@inherits MasaComponentBase

<MMenu OffsetY Bottom @bind-Value="MenuState">
    <ActivatorContent>
        <div @attributes="context.Attrs" class="relativeTime px-4 py-2 @Class">
            <div class="d-flex">
                <div class="body2 regular--text">
                    @if(RelativeTimeType > 0)
                    {
                        @T(RelativeTimeType.ToString())@T("Ago")
                    }
                    else @T("Please select a time")
                    
                </div>
                <div class="ml-8 mr-5" style="border: 0.5px solid #E2E7F4;height: 24px;width: 0px;" />
                <div class="icon d-flex">
                    <MIcon Class="ma-auto" Color="regular3">@Icon</MIcon>
                </div>
            </div>           
        </div>
    </ActivatorContent>
    <ChildContent>
        @foreach(var (key,value) in KeyValues)
        {
           <div class="px-4 py-3 body2 emphasis--text combox" @onclick="async ()=> await UpdateValueAsync(key)">
                @T(value)
            </div>
        }
    </ChildContent>
</MMenu>