@namespace Masa.Stack.Components.UserCenters
@inherits MasaComponentBase

<MCard Class="user-info rounded-5">
    <div class="user-info__left">
        <div class="avatar">
            @if (string.IsNullOrWhiteSpace(Data?.Avatar))
            {
                <MAvatar Size="140" Class="mb-6" Color="primary">
                    <span class="white--text text-h2">@((Data?.Account)?[..1])</span>
                </MAvatar>
            }
            else
            {
                <MAvatar Size="140" Class="mb-6">
                    <MImage Src="@Data?.Avatar" alt="avatar" />
                </MAvatar>
            }
            <PBlockText Primary="@Data?.Name"
                        PrimaryClass="font-20-bold emphasis2--text"
                        Secondary="@Data?.Account"
                        SecondaryClass="regular3--text font-14 full-width">
            </PBlockText>
        </div>
        <div class="auths">
            <MDivider>
                <span class="regular3--text caption" style="line-height: 1px">@T("Auths")</span>
            </MDivider>
            <div class="d-flex" style="justify-content: space-around; flex-wrap: wrap;">
                <AuthIcon OnClick="() => _idCardValidateModal?.Open()">mdi-card-account-details-outline</AuthIcon>
                <AuthIcon>mdi-cellphone</AuthIcon>
                <AuthIcon>mdi-wechat</AuthIcon>
                <AuthIcon>mdi-email</AuthIcon>
            </div>
        </div>
    </div>

    <MDivider Vertical Class="mx-6"></MDivider>

    <div class="user-info__right">

        <MWindow Value="_windowValue">
            <MWindowItem>
                <div class="d-flex mb-4" style="justify-content: space-between;">
                    <PBlockText Primary="@Data?.DisplayName"
                                PrimaryClass="font-20-bold regular--text"
                                SecondaryClass="caption regular3--text d-flex"
                                SecondaryStyle="align-items:center;">
                        <SecondaryContent>
                            @Data?.GenderText
                            @if (!string.IsNullOrWhiteSpace(Data?.GenderText) && !string.IsNullOrWhiteSpace(Data?.JobNumber))
                            {
                                <MDivider Vertical Class="mx-1" Height="10"></MDivider>
                            }
                            @Data?.JobNumber
                        </SecondaryContent>
                    </PBlockText>
                    <MButton Icon Small OnClick="() => ChangeWindowValue(1)">
                        <MIcon Size="15" Class="regular--text">mdi-pencil</MIcon>
                    </MButton>
                </div>
                <dl class="d-flex mb-4" style="align-items: start; justify-content: space-between">
                    <dt class="d-inline-flex font-14 regular--text">
                        <MIcon Class="regular3--text mr-2" Size="13">mdi-phone</MIcon>
                        <span>@Data?.PhoneNumber</span>
                    </dt>
                    <dd class="overline regular3--text">@T("PhoneNumber")</dd>
                </dl>
                <dl class="d-flex mb-4" style="align-items: start; justify-content: space-between">
                    <dt class="d-inline-flex font-14 regular--text">
                        <MIcon Class="regular3--text mr-2" Size="13">mdi-email</MIcon>
                        <span>@Data?.Email</span>
                    </dt>
                    <dd class="overline regular3--text">@T("Email")</dd>
                </dl>
            </MWindowItem>
            <MWindowItem Class="mb-n2">
                <div class="d-flex mb-4" style="justify-content: space-between;align-items: center;">
                    <SLabeledRadioGroup @bind-Value="@_userGender" Dense>
                        <SLabeledRadio Value="0" Style="height:36px">@T("Female")</SLabeledRadio>
                        <SLabeledRadio Value="1" Style="height:36px">@T("Male")</SLabeledRadio>
                    </SLabeledRadioGroup>
                    <span>
                        <MButton Rounded Plain Height="40" Width="100" OnClick="() => ChangeWindowValue(0)">@T("Cancel")</MButton>
                        <SAutoLoadingButton Rounded
                                            Disabled="@(string.IsNullOrWhiteSpace(_userDisplayName))"
                                            Height="40"
                                            Width="100"
                                            OnClick="SaveUserInfo">
                            @T("Save")
                        </SAutoLoadingButton>
                    </span>
                </div>
                <MRow Class="mb-2">
                    <MCol Cols="12">
                        <SDefaultTextField @bind-Value="@_userDisplayName" Label="@T("Nickname")"></SDefaultTextField>
                    </MCol>
                    <MCol Cols="6">
                        <SDefaultTextField Value="Data?.PhoneNumber" Label="@T("PhoneNumber")" Readonly
                                           Action="@(a => { a.Content = Data?.PhoneNumber is null ? @T("Add") : @T("Change"); a.Text = true; a.OnClick = OpenPhoneNumberValidateModal; })">
                        </SDefaultTextField>
                    </MCol>
                    <MCol Cols="6">
                        <SDefaultTextField Value="Data?.Email" Label="@T("Email")" Readonly
                                           Action="@(a => { a.Content = Data?.Email is null ? @T("Add") : @T("Change"); a.Text = true; a.OnClick = OpenEmailValidateModal; })">
                        </SDefaultTextField>
                    </MCol>
                </MRow>
            </MWindowItem>
        </MWindow>

        <SDefinitions Items="@Items"
                      Colon=""
                      Cols="12"
                      Sm="12"
                      Md="12"
                      NoGutters
                      Style="overflow: auto;height: calc(100% - 195px);"
                      ItemClass="@(_ => "mb-4")"
                      ItemStyle="@(_ => "justify-content: space-between; align-items: center;")"
                      TermClass="@(_ => "font-14 regular--text")"
                      DetailClass="@(_ => "overline regular3--text")">
            <TermContent>
                @{
                    var term = (ValueTuple<string, string>)context.Value;
                    <MIcon Size="13" Class="regular3--text mr-2">@term.Item1</MIcon>
                    <span>@term.Item2</span>
                }
            </TermContent>
            <DetailContent>@context.Key</DetailContent>
        </SDefinitions>

    </div>
</MCard>

<IdCardValidateModal @ref="_idCardValidateModal" />

<EmailValidateModal @ref="_emailValidateModal" IsUpdate="true" />

<PhoneNumberValidateModal @ref="_phoneNumberValidateModal" IsUpdate="true" />
