@namespace Masa.Stack.Components.UserCenters
@inherits MasaComponentBase

<PageTitle>
    @T("User center")
</PageTitle>

<MCard Class="user-info rounded-5">
    <div class="user-info__left">
        <div class="avatar">
            <UploadAvatar 
                Size="140" 
                Class="mb-6"
                Value="@UpdateStaffAvatar.Avatar"
                ValueChanged="UpdateAvatarAsync"
                WhenFileChangeUpload />
            <PBlockText Primary="@StaffDetail.Name"
                        PrimaryClass="font-20-bold emphasis2--text"
                        Secondary="@StaffDetail.Account"
                        SecondaryClass="regular3--text font-14 full-width"
                        Style="height:40px;" />
            <SButton Text OnClick="NavigateToUser" Class="mt-6">@T("Switch to user")</SButton>
        </div>
        <div class="auths">
            <MDivider>
                <span class="regular3--text caption" style="line-height: 1px !important">@T("Auths")</span>
            </MDivider>
            <div class="d-flex" style="justify-content: space-around; flex-wrap: wrap;">
                <AuthIcon>mdi-card-account-details-outline</AuthIcon>
                <AuthIcon>mdi-cellphone</AuthIcon>
                <AuthIcon>mdi-wechat</AuthIcon>
                <AuthIcon>mdi-email</AuthIcon>
            </div>
        </div>
    </div>

    <MDivider Vertical Class="mx-6"></MDivider>

    <div class="user-info__right">
        <MWindow Value="_windowValue">
            <MWindowItem>
                <div class="d-flex mb-4" style="justify-content: space-between;">
                    <PBlockText Primary="@StaffDetail.DisplayName"
                                PrimaryClass="font-20-bold regular--text"
                                SecondaryClass="caption regular3--text d-flex"
                                SecondaryStyle="align-items:center;">
                        <SecondaryContent>
                            @T(StaffDetail.Gender.ToString())
                        </SecondaryContent>
                    </PBlockText>
                    <MButton Icon Small OnClick="() => _windowValue=1">
                        <MIcon Size="15" Class="regular--text">mdi-pencil</MIcon>
                    </MButton>
                </div>
                <dl class="d-flex mb-4" style="align-items: start; justify-content: space-between">
                    <dt class="d-inline-flex font-14 regular--text">
                        <MIcon Class="regular3--text mr-2" Size="13">mdi-phone</MIcon>
                        <span>@StaffDetail.PhoneNumber</span>
                    </dt>
                    <dd class="overline regular3--text">@T("PhoneNumber")</dd>
                </dl>
                <dl class="d-flex mb-4" style="align-items: start; justify-content: space-between">
                    <dt class="d-inline-flex font-14 regular--text">
                        <MIcon Class="regular3--text mr-2" Size="13">mdi-email</MIcon>
                        <span>@StaffDetail.Email</span>
                    </dt>
                    <dd class="overline regular3--text">@T("Email")</dd>
                </dl>
            </MWindowItem>
            <MWindowItem Class="mb-n2">
                <div class="d-flex mb-4" style="justify-content: space-between;align-items: center;">
                    <SLabeledRadioGroup @bind-Value="@StaffDetail.Gender" Dense>
                        <SLabeledRadio Value="GenderTypes.Female" Style="height:36px">@T(GenderTypes.Female.ToString())</SLabeledRadio>
                        <SLabeledRadio Value="GenderTypes.Male" Style="height:36px">@T(GenderTypes.Male.ToString())</SLabeledRadio>
                    </SLabeledRadioGroup>
                    <span>
                        <MButton Rounded Plain Height="40" Width="100" OnClick="() => Cancel()">@T("Cancel")</MButton>
                        <SAutoLoadingButton Rounded
                                            Disabled="@(string.IsNullOrWhiteSpace(UpdateStaff.DisplayName))"
                                            Height="40"
                                            Width="100"
                                            OnClick="UpdateBasicInfoAsync">
                            @T("Save")
                        </SAutoLoadingButton>
                    </span>
                </div>
                <MRow Class="mb-2">
                    <MCol Cols="12">
                        <STextField @bind-Value="@UpdateStaff.DisplayName" Label="@T("Nickname")" />
                    </MCol>
                    <MCol Cols="6">
                        <STextField @bind-Value="UpdateStaff.PhoneNumber" Label="@T("PhoneNumber")" />
                    </MCol>
                    <MCol Cols="6">
                        <STextField @bind-Value="UpdateStaff.Email" Label="@T("Email")" />
                    </MCol>
                </MRow>
            </MWindowItem>
        </MWindow>

        <SDefinitions Items="@Items"
                      Colon=""
                      Cols="12"
                      Sm="12"
                      Md="12"
                      NoGutters
                      Style="overflow: auto;height: calc(100% - 195px);"
                      ItemClass="@(_ => "mb-4")"
                      ItemStyle="@(_ => "justify-content: space-between; align-items: center;")"
                      TermClass="@(_ => "font-14 regular--text")"
                      DetailClass="@(_ => "overline regular3--text")">
            <TermContent>
                @{
                    var (icon,value) = (ValueTuple<string, string>)context.Value;
                    <MIcon Size="13" Class="regular3--text mr-2">@icon</MIcon>
                    <span>@T(value)</span>
                }
            </TermContent>
            <DetailContent>@T(context.Key)</DetailContent>
        </SDefinitions>

    </div>
</MCard>
